{{ define "main" }}

<div id="p404" class="container">
<h3>404 NOT FOUND</h3>
<h1>看看有没有您需要的：</h1>
</div>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $pages = .Paginate ($pages)  }}
{{ $archivesPage := first 1 (where .Site.RegularPages "Layout" "eq" "archives") }}

<div class="container">    
    <div class="row">
        {{ range $pages.Pages }}        
        <div class="col-12 post text-truncate">
            <a class="link-dark links" href="{{ .RelPermalink }}"><time>{{ .Date.Format "2006-01-02" }}</time>{{ .Title }}</a>
        </div>
        {{ end }}
    </div>
    <h2><span class="badge bg-light">
        {{ range $archivesPage }}
        <a class="link-dark links" href="{{ .RelPermalink }}">查看所有文章</a>
        {{ end }}
    </span></h2>
</div>

{{ end }}