{{ define "main" }}
<div class="container archive">
        <h1>{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $maxCategoryToShow := $.Site.Params.maxCategoryToShow | default 5 }}
        <div class="row">
            {{ range .Site.Taxonomies.categories.TaxonomyArray | first $maxCategoryToShow }}
            <div class="d-grid gap-2 col">
                <button type="button" class="btn btn-light">
                    {{ .Page.Title }}<span class="badge bg-secondary">{{ .Count }}</span>
                    <span class="visually-hidden">{{ .Page.Title }}</span>
                </button>
            </div>        
            {{ end }}
        </div>
</div>

<div class="container" id="articles-list">
    {{ range $pages.GroupByDate "2006" }}
    <div class="row">
        <h2>{{ .Key }}</h2><hr>
        {{ range .Pages }}
        <div class="col-12 post text-truncate">
            <a class="link-dark links" href="{{ .RelPermalink }}"><time>{{ .Date.Format "01-02" }}</time>{{ .Title }}</a>
        </div>
        {{ end }}

    </div>
    {{ end }}
</div>

{{ end }}
