{{ define "main" }}
<div class="container article">
	<h1>{{ .Title }}</h1>
	<div class="post-meta">
		<div>
			{{ $author := .Params.author }}
			{{ if eq $author nil }}
			{{ $author = .Site.Params.author }}
			{{ end }}
			By {{ $author }} | {{ .Date.Format "2006-01-02" }} | {{ .ReadingTime }} minutes
		</div>
		<div class="tags">
			{{ range (.GetTerms "tags") }}
			<a class="btn btn-light links btn-sm" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
			{{ end }}
		</div>
	</div>
	<div>
		<div class="article-post">
			{{ .Content }}
		</div>
	</div>
</div>


<div class="container">
    {{ if .Section }}
    <div class="row">
        {{ with .PrevInSection }}
        <div class="col-5">
            <a class="page-link link-dark text-end dh" href="{{ .RelPermalink }}">
                <h5>前一篇</h5><br>
                {{ .Title }}
            </a>            
        </div>
        {{ else }}
        <div class="col-5">
            <a class="page-link link-dark text-end dh" href="">
                <h5>没有了</h5>
            </a>            
        </div>
        {{  end }}
        <div class="col-2">
        </div>
        {{ with .NextInSection }}
        <div class="col-5">
            <a class="page-link link-dark text-start dh" href="{{ .RelPermalink }}">
                <h5>后一篇</h5><br>
                {{ .Title }}
            </a>            
        </div>
        {{ else }}
        <div class="col-5">
            <a class="page-link link-dark text-start dh" href="">
                <h5>没有了</h5><br>
            </a>            
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}