.emoji {
    color: red;
}
.post-row > time {
    margin-top: 0.4rem;
    /*color: blue;*/
}
.footer-links {

}
.terms {
    line-height: 3rem;
}
.terms > a {
    width: 200px;
    /*display: block;*/
    float: left;
}