body {

}
.links {
	text-decoration:none;
}

.post {
	height: 60px;
	font-size: 1.3rem;
    margin-left: 10px;
}

time {
	margin-right: 20px;
	font-size: 0.85rem;
	line-height: 1.3rem;
}

.xm {
	margin-bottom: 10px;
}

#content {
/*	background: greenyellow;*/
	margin-top: 56px;
}
#carouselIndexSlides {
	width: 100%;
	height: 60px;
	line-height: 60px;
}

.copyright {
	margin-bottom: 20px;
}

.archive {
	margin-top: 76px;
}

.archive .row .btn {
	margin-bottom: 10px;
}

#articles-list > .row {
	padding-top: 20px;
}

.article {
	margin-top: 100px;
}

.post-meta {
	color: darkgray;
}

.post-meta > .tags > a {
	color: darkgray;
}

.post-meta div {
	padding-bottom: 10px;
}

pre {
	background: #373b41;
	color: lightgray;
	padding: 10px;
	/*white-space: pre-wrap;*/
	/*word-wrap: break-word;*/
}

.dh {
	width: 100%;
	height: 120px;
	padding-top: 10px;
	background: lightgray;
}

/* @font-face {
	font-family: qtbf;
	src: url(http://static.junzhe.net/fonts/千图笔锋手写体.ttf);
} */

/*@font-face {
	font-family: yrxk;
	src: url(/fonts/YanShiYouRanXiaoKai-2.ttf);
}*/

#myjj {
	font-family: "Times New Roman", Times, serif;
	/* font-family: qtbf, "Times New Roman", Times, serif; */
	font-size: 1.5em;
}

#myjj span {
	color: red;
}