.emoji {
    color: red;
}
.post-row > time {
    margin-top: 0.4rem;
}
.footer {
    clear: both;
}
.footer-links > a {
    width: 20%;
    text-align: center;
}
.terms {
    line-height: 3rem;
}
.terms > a {
    width: 30%;
    display: block;
    float: left;
}